<ion-view >
	<ion-content class="bmd-spcl-theme">
		<div class="blocked">
		  <i class="ion-alert-circled"></i>
		  <p>{{ "BLOCKED_CONFIGURATION_MESSAGE" | translate }}</p>
		</div>
	</ion-content>
</ion-view>