<ion-modal-view  class="sign_form">
  <ion-header-bar class="bar-stableb bg-color-white">
      <button  ng-click="closeDoc_modal()"  class="common-button button button-positive button-clear button_text ion-chevron-left txt-color-black"></button>
    <div class="bmd-spclity-head">{{ APPOINTMENT_MESSAGE | translate }}</div>
    <button class="common-button button button-positive button-clear button_text icon ion-location txt-color-black mR25"></button>
     <button class="common-button button button-positive button-clear button_text icon ion-android-more-vertical txt-color-black"></button>
      </ion-header-bar>
  <ion-content  class="theme-bg">
    <div class="bmd-appmnt-wrapper">
    <div class="bmd-app-cover">
      <div class="bmd-app-row">
        <div class="bmd-prof-pic">
          <img  ng-src="{{ coreurl }}admin/{{docpopup.doc_image}}" class="bmd-prof-pic-circle" />
        </div>
        <div class="bmd-prof-name">
          <h3>{{docpopup.doc_details.firstname}} {{docpopup.doc_details.lastname}}</h3>
          <p>{{docpopup.doc_speciality.name}}</p>
          <div class="bmd-prof-rate">
          <span class="rating" style="margin-top:0px;vertical-align: -7px;padding-right: 15px;">
                      <input type="radio"  ng-model="docpopup.doc_rating" value="5"   class="rating-input"id="rating-input-1-5" name="rating-input-1">
                      <label for="rating-input-1-5" class="rating-star"></label>
                      <input type="radio" ng-model="docpopup.doc_rating" value="4"   class="rating-input" id="rating-input-1-4" name="rating-input-1">
                      <label for="rating-input-1-4" class="rating-star"></label>
                      <input type="radio" ng-model="docpopup.doc_rating" value="3"   class="rating-input" id="rating-input-1-3" name="rating-input-1">
                      <label for="rating-input-1-3" class="rating-star"></label>
                      <input type="radio" ng-model="docpopup.doc_rating" value="2"   class="rating-input" id="rating-input-1-2" name="rating-input-1">
                      <label for="rating-input-1-2" class="rating-star"></label>
                      <input type="radio" ng-model="docpopup.doc_rating" value="1"   class="rating-input" id="rating-input-1-1" name="rating-input-1">
                      <label for="rating-input-1-1" class="rating-star"></label>
                    </span>
          </div>
        </div>
      </div>
    </div>
    <div class="bmd-row2">
      <div class="bmd-phone">
      <div class="bmd-phone-icon">
        <img src="img/bmd-phone-icon.png">
      </div>
      <div class="bmd-phone-details">
        {{(docpopup.doc_details.phone=='')? 'Not Specified' : docpopup.doc_details.phone }}
      </div>
      </div>
      <div class="bmd-loc">
      <div class="bmd-loc-icon">
      <img src="img/bmd-location-white-icon.png">
      </div>
      <div class="bmd-loc-details">
        {{(docpopup.doc_details.address=='')? 'Not Specified' : docpopup.doc_details.address}}
      </div>
      </div>
    </div>
    <div class="bmd-row3">
    <button class="bmd-apponmnt-button"  ng-click="updateDoc(docpopup.doc_details.id,docpopup.doc_details.firstname,docpopup.doc_details.lastname,docpopup.doc_speciality.name,docpopup.doc_rating,imagename,docpopup.doc_details.address,'first')">{{ BOOK_AGAIN_MESSAGE | translate }}</button>
    </div>
     
  </div>
  </ion-content>
</ion-modal-view>
