<ion-modal-view  class="sign_form">
  <ion-header-bar>
  <button ng-click="closeForgot()" class="common-button button button-positive button-clear button_text ion-chevron-left txt-color-black"></button>
    <div class="bmd-spclity-head">{{ "RESET_PASSWORD_TITLE_MESSAGE" | translate }}</div>
  </ion-header-bar>
  <ion-content  class="theme-bg">
    <div class="bmd-title-logo">
      <img src="img/bmd-signinlogo.png">
    </div>

    <form  name="resetform" ng-submit="doForgot()">
      <div class="bmd-usr-wrapper">
        <div class="bmd-usr">
          <div class="bmd-usr1">
            <img src="img/bmd-mail.png">
          </div>
          <div class="bmd-usr2">
            <input type="email" placeholder="Email" class="bmd-usr-input" name="email" ng-model="resetData.email" required>
          </div>
        </div>
          <div class="bmd-field error" ng-show="submitted  && resetform.email.$error.required">{{ "EMAIL_ID_REQUIRED_MESSAGE" | translate }}</div>
          <div class="bmd-field error" ng-show="resetform.email.$touched && resetform.email.$error.email">{{ "INVALID_EMAIL_ID_ERROR_MESSAGE" | translate }}</div>
        <button class="bmd-main-btn" ng-disabled="resetform.email.$dirty && resetform.email.$invalid " ng-click="submitted=true">{{ "PROCEED_MESSAGE" | translate }}</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
