<ion-view class="bar-stableb bg-color-white">
	<ion-header-bar class="bar-stableb bg-color-white">
		<button menu-toggle="left" class="common-button button button-positive button-clear button_text icon ion-navicon txt-color-black"></button>
		
		<button class="common-button button button-positive button-clear button_text icon ion-android-more-vertical txt-color-black"></button>
	</ion-header-bar>
	<ion-content class="padding theme-bg" >
		<div class="bmd-head"><img style="margin-left: auto;margin-right: auto;display: block;margin-bottom: 10px;" width="50%" height="50%" src="img/bmd-signinlogo.png"></div>
		<!-- bmd-logo.png -->
		<div class="bmd-search-bar-outer">
			<form ng-submit="search(search_text)" style="display:inline-flex;width:100%">
				<input style=" padding-left: 10px !important;" type="text" class="bmd-input" placeholder='{{ "SEARCH_DOCTOR_CLINICS_MESSAGE" | translate }}' name="search_text" ng-model="search_text">
				<button type="submit"  class="button button-positive button-clear button_text icon ion-ios-search txt-color-gray"></button>
			</form>
			<!-- <button class="button button-positive button-clear button_text icon ion-ios-mic txt-color-gray"></button> -->
		</div>
		<div class="bmd-bg-sec2">
			
		</div>
		<div class="bmd-list">
			<ul>
				<li class="bmd-listing" >
					<a class="link_select" href="#/app/listing/speciality">
						<div class="bmd-list-icon"><img src="img/bmd-speciality-icon.png"></div>
						<div class="bmd-list-details">{{ "SPECIALITY_MESSAGE" | translate }}
						<p >{{desiredSpeciality}}</p></div>
						<div class="bmd-forward"><img src="img/bmd-frwrd-icon.png"></div>
					</a>
				</li>
				<li class="bmd-listing">
					<a class="link_select" href="#/app/listing/location">
						<div class="bmd-list-icon"><img src="img/bmd-location-icon.png"></div>
						<div class="bmd-list-details">{{ "LOCATION_MESSAGE" | translate }}
						<p >{{desiredLocation}}</p></div>
						<div class="bmd-forward"><img src="img/bmd-frwrd-icon.png"></div>
					</a>
				</li>
				<li class="bmd-listing" ng-click="calendar()">
					<div class="bmd-list-icon"><img src="img/bmd-date-icon.png"></div>
					<div class="bmd-list-details">{{ "DATE_MESSAGE" | translate }}
					<p >{{selectedDay | date: "MMM dd"}}</p></div>
					<div class="bmd-forward"><img src="img/bmd-frwrd-icon.png"></div>
				</li>
				<li class="bmd-listing">
					<a class="link_select" href="#/app/listing/insurance" >
						<div class="bmd-list-icon"><img src="img/bmd-insurance.png"></div>
						<div class="bmd-list-details">{{ "INSURANCE_MESSAGE" | translate }}
						<p>{{desiredInsurance}}</p></div>
						<div class="bmd-forward"><img src="img/bmd-frwrd-icon.png"></div>
					</a>
				</li>

			</ul>
			<button class="bmd-apponmnt-button" ng-click="findDoc()">{{ "FIND_DOCTOR_MESSAGE" | translate }}</button>
		</div>
	</ion-content>

</ion-view>
    


