<ion-modal-view  class="sign_form">
  <ion-header-bar>
  <button ng-click="closeLogin()" class="common-button button button-positive button-clear button_text ion-chevron-left txt-color-black"></button>
    <div class="bmd-spclity-head">{{ "LOGIN_MESSAGE" | translate }}</div>
  </ion-header-bar>
  <ion-content  class="theme-bg">
    <div class="bmd-title-logo">
      <img src="img/bmd-signinlogo.png">
    </div>
<div class="bmd-usr-wrapper">
    <form  name="loginform" ng-submit="loginform.$valid && doLogin()">
      
        <div class="error_block" ng-show="loginError">
          <ul>
            <li  ng-repeat="msg in loginErrorMsg">{{msg.message}}</li>
          </ul>
        </div>
    <div class="bmd-usr">
      <div class="bmd-usr1"><img src="img/bmd-usr.png"></div>
      <div class="bmd-usr2">
        <input class="bmd-usr-input" name="email" type="email" placeholder= '{{ "ENTER_EMAIL_ID_MESSAGE" | translate }}' ng-model="loginData.email" required>
      </div>
    </div>
    <div class="bmd-field error" ng-show="submitted  && loginform.email.$error.required"> {{ "EMAIL_ID_REQUIRED_MESSAGE" | translate }}</div>
    <div class="bmd-field error" ng-show="loginform.email.$touched && loginform.email.$error.email">{{ "INVALID_EMAIL_ID_ERROR_MESSAGE" | translate }}</div>
    <div class="bmd-usr">
    <div class="bmd-usr1"><img src="img/bmd-pass.png"></div>
    <div class="bmd-usr2">
    <input class="bmd-usr-input" name="password" type="password" placeholder='{{ "ENTER_PASSWORD_MESSAGE" | translate }}' ng-model="loginData.password" required>
    </div>
    </div>
    <div class="bmd-field error" ng-show="submitted  && loginform.password.$error.required">{{ "PASSWORD_REQUIRED_MESSAGE" | translate }}</div>
    <!-- <div class="bmd-field error" ng-show="loginform.password.$touched && loginform.password.$invalid">Password is required.</div> -->
   <!--  <div class="bmd-frgtpass">
    <i><u>Forget your Password</u></i>
    </div> -->
    <button class="bmd-main-btn"   ng-click="submitted=true">{{ "SIGN_IN_MESSAGE" | translate }}</button>
    
    <!-- <div class="bmd-social">
    <button class="bmd-fb-btn fbbg txt-color-white"><img src="img/bmd-fb.png" style="vertical-align: -7px;
padding-right: 20px;">Sign in with Facebook</button>
    <button class="bmd-ggle-btn gglebg txt-color-white"><img src="img/bmd-google.png" style="vertical-align: -7px;
padding-right: 20px;">Sign in with Google</button>
    </div> -->
    </form>
    <button class="bmd-main-btn" ng-click="submitted=false; join()">{{ "JOIN_NOW_MESSAGE" | translate }}</button>
  </div>
  </ion-content>
</ion-modal-view>
