<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">{{ "MENU_MESSAGE" | translate }}</h1>
    </ion-header-bar>
    <ion-content class="bmd-spcl-theme">
      <ion-list class="list">
        <ion-item menu-close href="#/app/bmd-home" class="bmd-spcl-listing">
          {{ "HOME_MESSAGE" | translate }}
        </ion-item>
        <ion-item menu-close ng-click="login()" ng-show="noSessionStatus" class="bmd-spcl-listing">
          {{ "LOGIN_MESSAGE" | translate }}
        </ion-item>
        <ion-item menu-close ng-click="signup()" ng-show="noSessionStatus" class="bmd-spcl-listing">
          {{ "SIGN_UP_MESSAGE" | translate }}
        </ion-item>
        <!-- <ion-item menu-close ng-click="reset()" ng-show="noSessionStatus" class="bmd-spcl-listing">
          Reset Password
        </ion-item> -->
        <!-- <ion-item menu-close href="#/app/my_booking" ng-show="userSessionStatus" class="bmd-spcl-listing">
          My Booking
        </ion-item> -->
        <ion-item menu-close ng-click="my_booking()" ng-show="userSessionStatus" class="bmd-spcl-listing" >
          {{ "MY_BOOKING_MESSAGE" | translate }}
        </ion-item>
        <ion-item menu-close ng-click="Logout()" ng-show="userSessionStatus" class="bmd-spcl-listing">
          {{ "LOGOUT_MESSAGE" | translate }}
        </ion-item>
        <ion-item menu-close href="#/app/settings" class="bmd-spcl-listing">
          {{ "SETTINGS_MESSAGE" | translate }}
        </ion-item>
        <!-- <ion-item menu-close href="#/app/test"  class="bmd-spcl-listing">
          My Booking
        </ion-item> -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
