<ion-view view-title="{{ 'settings' | translate }}">
        <ion-content class="padding">
          <ion-list>
              <h3>{{ "LANGUAGE_OPTIONS_MESSAGE" | translate }}</h3>
      
              <div class="button-bar">
                  <button ng-click="changeLanguage('en')" ng-class="curlang=='en' ? 'button button-dark' : 'button'">English</button>
                  <button ng-click="changeLanguage('ha')" ng-class="curlang=='ha' ? 'button button-dark' : 'button'">Hausa</button>
                  <button ng-click="changeLanguage('yo')" ng-class="curlang=='yo' ? 'button button-dark' : 'button'">Yoruba</button>
              </div>      
          </ion-list>
        </ion-content>
</ion-view>