<ion-modal-view class="sign_form">  
  <ion-header-bar>
    <button ng-click="closeSignup()" class="common-button button button-positive button-clear button_text ion-chevron-left txt-color-black"></button>
    <div class="bmd-spclity-head">{{ "SIGN_UP_MESSAGE" | translate }}</div>
  </ion-header-bar>
	<ion-content class="theme-bg" ng-init="submitted=false">
		<div class="bmd-title-logo">
		<img src="img/bmd-signinlogo.png">
		</div>
		<form  name="signupform" ng-submit="signupform.$valid && doSignup()">
		<div class="bmd-usr-wrapper">
			<div class="error_block" ng-show="signupError==false">
	          {{signupMessage}}
	        </div>
	        <div class="success_block" ng-show="signupError">
	          {{signupMessage}}
	        </div>
		<div class="bmd-usr">
			<div class="bmd-usr1"><img src="img/bmd-usr.png"></div>
			<div class="bmd-usr2">
			<input class="bmd-usr-input" name="firstname" type="text" placeholder='{{ "FIRST_NAME_MESSAGE" | translate }}' ng-model="signUpData.firstname" required>
			</div>
		</div>
		<div class="bmd-field error" ng-show="submitted  && signupform.firstname.$error.required">{{ "FIRST_NAME_REQUIRED_MESSAGE" | translate }}</div>
		<div class="bmd-usr">
			<div class="bmd-usr1"><img src="img/bmd-usr.png"></div>
			<div class="bmd-usr2">
			<input class="bmd-usr-input" name="lastname" type="text" placeholder='{{ "LAST_NAME_MESSAGE" | translate }}' ng-model="signUpData.lastname" required>
			</div>
		</div>
		<div class="bmd-field error" ng-show="submitted  && signupform.lastname.$error.required">{{ "LAST_NAME_REQUIRED_MESSAGE" | translate }}</div>
		<div class="bmd-usr">
			<div class="bmd-usr1"><img src="img/bmd-mail.png"></div>
			<div class="bmd-usr2">
			<input class="bmd-usr-input" name="email" type="email" placeholder='{{ "EMAIL_MESSAGE" | translate }}' ng-model="signUpData.email" required>
			</div>
		</div>
		<div class="bmd-field error" ng-show="submitted  && signupform.email.$error.required">{{ "EMAIL_ID_REQUIRED_MESSAGE" | translate }}</div>
		<div class="bmd-field error" ng-show="signupform.email.$touched && signupform.email.$invalid">{{ "INVALID_EMAIL_ID_ERROR_MESSAGE" | translate }}</div>
		<div class="bmd-usr">
			<div class="bmd-usr1"><img src="img/bmd-pass.png"></div>
			<div class="bmd-usr2">
			<input class="bmd-usr-input" name="password" type="password" ng-minlength="6" placeholder='{{ "ENTER_PASSWORD_MESSAGE" | translate }}' ng-model="signUpData.password" required>
			</div>
		</div>
		<div class="bmd-field error" ng-show="submitted  && signupform.password.$error.required">{{ "PASSWORD_REQUIRED_MESSAGE" | translate }}</div>
		<div class="bmd-field error" ng-show="signupform.password.$touched && signupform.password.$minlength">{{ "PASSWORD_MINIMUM_CHARS_MESSAGE" | translate }}</div>
		<div class="bmd-usr">
			<div class="bmd-usr1"><img src="img/bmd-phne.png"></div>
			<div class="bmd-usr2">
			<input class="bmd-usr-input" type="text" name="phone" placeholder='{{ "ENTER_MOBILE_MESSAGE" | translate }}' ng-model="signUpData.phone" ng-minlength="10"  ng-maxlength="10" required>
			</div>
		</div>
		<div class="bmd-field error" ng-show="submitted  && signupform.phone.$error.required">{{ "MOBILE_NUMBER_REQUIRED_MESSAGE" | translate }}</div>
		<div class="bmd-field error" ng-show="signupform.phone.$touched && signupform.phone.$error.minlength">{{ "MOBILE_NUMBER_LIMIT_MESSAGE" | translate }}</div>
		<div class="bmd-field error" ng-show="signupform.phone.$touched && signupform.phone.$error.maxlength">{{ "MOBILE_NUMBER_LIMIT_MESSAGE" | translate }}</div>
		
		<div style="display:inline-flex;width:100%;">
			<input id="checkbox-terms" name="terms" class="checkbox-custom" name="checkbox-1" type="checkbox" checked="checked"  ng-model="terms" required>
			<label for="checkbox-terms" class="checkbox-custom-label"></label><b style="padding-top:5px;">{{ "AGREE_CONDITIONS_MESSAGE" | translate }}</b>
		</div>
		<div class="bmd-field error" ng-show="submitted  && signupform.terms.$error.required">{{ "MUST_AGREE_CONDITIONS_MESSAGE" | translate }}</div>
		<!-- <div class="bmd-field error" ng-show="signupform.terms.$dirty && signupform.terms.$error.required">Must agree the Terms and Conditions.</div> -->
		<button class="bmd-main-btn"  ng-click="submitted=true">{{ "JOIN_NOW_MESSAGE" | translate }}</button>

		</div>
	</form>

	</ion-content>

</ion-modal-view>
