
/*=== GENERAL-SETTINGS ===*/

.mR25{margin-right:25px;}
.border-none{border:none !important;}

/*-- TEXT-COLORS --*/

.txt-color-black{color:#000000 !important;}
.txt-color-white{color:#fff !important;}
.txt-color-gray{color:white !important;}
/* .txt-color-theme{color:#00a2e0 !important;} */
.txt-color-theme{color:#00a2e0 !important;}

/*-- BACKGROUND-COLORS --*/

.theme-bg{background:#00a2e0 url(../img/main.png) !important;background-repeat: no-repeat !important;background-position: center !important;}
.bmd-spcl-theme{background:#f3f3f3 url(../img/spclitylisting.png) !important;background-repeat: no-repeat;background-position: cover !important;background-repeat: no-repeat;}
.bg-color-white{background-color:#ffffff !important;}
.bmd-splash-bg{background:#ffffff url(../img/bmd-Splash-bg.png)!important;background-repeat: no-repeat !important;background-position:center !important;}
.booked-bg{background:#a84a7c !important;cursor: not-allowed !important;}
.slct-bg{background:#ca1f53 !important;}
.bg-color-gray{background: #ababab !important;}

/*-- BUTTONS --*/

.common-button{padding-left:5px !important;padding-right:5px !important;}
.bmd-head{text-align:left;width:100%;padding-left: 10px;}
.bmd-head img{padding-left:0px;width:112px;}
.bmd-search-bar-outer{background:#ffffff;width:100%;border-radius:3px;display: inline-flex;}
.bmd-input{width:100%;margin-top: 5px;}
.bmd-bg-sec2{width: 100%;
text-align: center;
background: url(../img/bmd-bd-sec2.png);
min-height: 314px;
background-repeat: no-repeat;
background-position: center;
background-size: 454px;}
.bmd-listing{border:1px solid #fff;border-radius:4px;width:100%;display:inline-flex;padding: 5px;margin-bottom:5px;}
.bmd-list{}
.bmd-list-icon{width:20%;padding-top: 5px;padding-left: 7px;}
.bmd-list-details{width:60%;color:#ffffff;font-size:20px;padding-top: 3px;}
.bmd-list-details p{font-size:15px;}
.bmd-forward{width:20%;text-align:right;padding-top: 10px;}
.bmd-spclity-head{text-align-left;width:100%;font-size: 15px;padding-left: 13px;padding-top: 5px;}
.bmd-spcl-list{}
.bmd-spcl-listing{border-bottom:1px solid #aaaaaa;color:#525252;font-size: 18px;padding: 15px;background: transparent;}
.bmd-spcl-listing:hover{background:#00a2e0 !important;color:#fff !important;}
.bmd-title-logo{text-align:center;padding-top: 50px;padding-bottom: 25px;}
.bmd-title-logo img{height: 65px;}
.bmd-usr-wrapper{padding: 35px;padding-top: 10px;color: #fff;}
.bmd-usr{width:100%;text-align:center;display:inline-flex;border: 1px solid #fff;border-radius: 6px;margin-bottom: 10px;}
.bmd-usr-input{text-align:left !important;height: 40px !important; border-radius:0 5px 5px 0 ; width:100% !important;;background:transparent;color:#fff !important;padding-left:10px !important;}
.bmd-frgtpass{width: 100%;text-align: center;font-style: italic;color:#fff;}
.bmd-usr1{border-right: 1px solid #FFF;padding:8px;}
.bmd-main-btn{width:100%;background:#fff;color:#515151;border-radius:8px;text-align:center;border:1px solid transparent;margin-bottom:5px;margin-top:12px;padding:8px;font-size:15px;}
.bmd-fb-btn{width:100%;background:#49639f!important;color:#515151;border-radius:8px;border:1px solid transparent;margin-bottom:5px;margin-top:12px;padding:8px;font-size:15px;}
.bmd-ggle-btn{width:100%;background:#df4a32 !important;color:#515151;border-radius:8px;border:1px solid transparent;margin-bottom:5px;margin-top:12px;padding:8px;font-size:15px;}
.bmd-social{margin-top: 40px;}
.bmd-usr2{width: 100%;}
.bmd-check{}
.bmd-agree{text-align: center;font-weight: 600;font-size: 15px;}
.bmd-splash-logo{width:100%;text-align:center;margin-top:180px;}
.bmd-splash-logo img{width:200px;}
.bmd-appmnt-wrapper{}
.bmd-app-cover{background:#89999e url(../img/bmd-app-top-bg.png) no-repeat;background-position:center;min-height:265px;}
.bmd-app-row{position:relative;display: inline-flex;width: 100%;top: 115px;padding-left: 10px;padding-right: 10px;}
.bmd-prof-pic{text-align: -moz-center;border-radius: 50%;border: 3px solid rgb(255, 255, 255);padding:2px;height:130px;}
.bmd-prof-pic-circle{height: 120px;width: 120px;background: #FFF  no-repeat scroll center center;border-radius: 50%;}
.bmd-prof-name{text-align:left;width:100%;padding: 20px;}
.bmd-prof-name h3{color:#fff;font-weight:600;font-size: 22px;}
.bmd-prof-name p{color:#fff;font-size: 22px;}
.bmd-prof-rate{}
.bmd-prof-pic1{border: 4px solid #FFF;padding: 3px;border-radius: 100px;}
.bmd-row2{padding: 15px;}
.bmd-phone{width:100%;color:#fff;font-size: 18px;display: inline-flex;padding:10px}
.bmd-phone img{width:22px;}
.bmd-loc{width:100%;color:#fff;font-size: 18px;display: inline-flex;padding:10px;}
.bmd-loc img{width:16px;}
.bmd-loc-details{padding-left: 10px;}
.bmd-phone-details{padding-left: 10px;}
.bmd-row3{width:100%;text-align:center;padding: 50px;}
.bmd-apponmnt-button {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #fff;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}
.bmd-review-wrapper{padding:5px;}
.bmd-review-inner{border:2px solid #fff;border-radius: 8px;}
.bmd-review-head{color:#fff;text-align:center;font-size:20px;padding:10px;width:100%;}
.bmd-review-comment{background:#fff;width:100%;list-style: none;}
.bmd-review-box{width:100%;padding:5px;display: inline-flex;border-bottom:1px solid #b2b2b2;color:#000000;font-size:15px;}
.bmd-review-box b{color:#494949 !important;}
.bmd-review-box p{font-size:14px !important;color:#525252;}
.bmd-review-box1 img{border:1px solid #989898;}
.bmd-review-box2{padding-left: 10px;}
.bmd-results-date{width:100%;color:#fff;font-size:20px;display: inline-flex;}
.bmd-results-wrapper{padding:5px;width:100%;list-style:none;}
.bmd-result-row{width:100%;background: rgba(255, 255, 255, 0.5);padding:5px;margin-bottom: 10px;}
.bmd-result-profpic{width:140px; height:99px;}
.bmd-result-details{text-align:left;width:100%;padding-left: 10px;}
.bmd-result-details h3{color:#fff;font-weight:600;font-size: 16px;margin:0px;}
.bmd-result-details h4{color:#fff;font-weight:400;font-size: 14px;margin:0px;}
.bmd-result-details p{color:#343434;font-size: 12px;}
.bmd-result-dstnce{width:40%;text-align:right;color:#fff;padding-top: 76px;font-size: 16px;}
.bmd-result1{width:100%;display:inline-flex;}
.bmd-result2{width:100%;display:inline-flex;}
.bmd-result-sch{Background:#fff;color:#343434;text-align:center;border-radius:3px;width: 100%;padding: 4px;margin: 2px;font-size: 12px;}
.bmd-calender{width:100%;border:2px solid #fff;border-radius:10px;padding-bottom: 10px;float: left;}
.bmd-result-schedules{}
div.bmd-sch-row{width:100%;display:inline-flex;list-style:none;}
ul.bmd-sch-row{width:20%;display:block;list-style:none;float:left;}
.bmd-sch-row1{width:100%;list-style:none;}
.bmd-sch{width:100%;text-align:center;cursor:pointer;background:#ababab;border:1px solid #fff;color:#fff;padding: 7px;font-size: 11px;padding-top: 10px;padding-bottom: 10px;}
.bmd-appmnt-tab{background: #fff;margin-top:3px;list-style: none;}
.bmd-appmnt-tab ul{display:inline-flex;width:100%;}
.bmd-appmnt-tab li{width:100%;text-align: center;font-size: 16px;padding: 10px;}
.bmd-appmnt-tab-current{background: #00a2e0;border:2px solid #fff;color:#fff;}
.bmd-appmnt-content{}
.bmd-appmnt-content-head{padding:15px;border-bottom:1px solid #d7557c;}
.bmd-appmnt-content-head h1{color:#fff;font-size: 20px;margin: 0px;}
.bmd-appmnt-content-details{text-align: center;color:#fff;padding-top:15px;}
.bmd-appmnt-content-check{width:100%;text-align:center;padding: 60px 40px 30px;}
.bmd-appmnt-content-check-inner{width:100%;color:#fff;font-size: 13px;}
.checkbox-custom, .radio-custom {opacity: 0;position: absolute;}
.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {display: inline-block;margin: 4px;cursor: pointer;}
.checkbox-custom-label, .radio-custom-label {position: relative;}
.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {content: '';background: #fff;border-radius:5px;text-align: left;border: 1px solid #dcdcdc;display: inline-block;vertical-align: middle;width: 20px;height: 20px;margin-right: 10px;text-align: center;}
.checkbox-custom:checked + .checkbox-custom-label:before {content: '⚫';font-family: 'FontAwesome';background: #fff;color: #ca1f53;border:1px solid #dcdcdc;}
.radio-custom + .radio-custom-label:before {border-radius: 50%;}
.radio-custom:checked + .radio-custom-label:before {content: '⚫';font-family: 'FontAwesome';color: #ca1f53;}
.bmd-appnmnt1{color:#fff;text-align: left;}
.bmd-appnmnt1 p{color:#fff;}
.bmd-appmnt-content-details h4{text-align:left;color:#fff;margin:0px;}
.bmd-appmnt-content-details p{ text-align:left;}
.bmd-appnmnt2 h5{color: #FFF;font-weight:700;padding-left: 4px;margin-bottom: 10px;}
.bmd-appnmnt2{padding: 60px;padding-top:30px;color: #fff;font-size: 17px;}
.bmd-dob{display: inline-flex;color:#fff;width:100%;}
.bmd-day{border: 1px solid #fff !important;background: transparent !important; border-radius: 5px;width:100%;text-align: center;padding: 5px;margin: 12px;}
.bmd-appnmnt4{padding:5px;}
.bmd-appnmnt-sch{color:#fff;text-align: center;padding:10px;}
.bmd-appnmnt4-inner{padding: 60px 60px 15px;color: #fff;font-size: 15px;}
.bmd-appnmnt4-inner h5{color:#fff;font-weight: 700;}
.bmd-style{-moz-appearance: none;-webkit-appearance:none; width:100%;margin-bottom: 20px;border:1px solid #f8f8f8;border-radius:5px;padding: 5px;color:#858585;font-size: 15px;padding-left:10px;background:#f8f8f8 url("../img/dmd-drop.png") no-repeat scroll right center;}
.bmd-sch1{width:100%;text-align:center;background:#ababab;border:1px solid #fff;color:#fff;padding:2px;font-size: 12px;padding-top: 2px;padding-bottom: 2px;}
.bmd-sch2{cursor: pointer;min-height: 52px;float:left;width:14.28%;text-align:center;background:#ababab;border:1px solid #fff;color:#fff;padding:2px;padding-top: 15px;padding-bottom: 15px;font-size: 25px;font-weight: 400;}
.bmd-bookng-cnfirmation{padding:60px;text-align:center;}
.bmd-bookng-cnfirmation h1{text-align:center;color:#fff;font-size:16px;font-weight:600;}
.bmd-bookng-cnfirmation p{text-align:center;color:#fff;font-size:12px;}
.bmd-overlay{padding-top: 200px;height:100%;width:100%;position:absolute;min-height:720px;left: 0px;top: 0px;bottom: 0px;right: 0px;background: rgba(0, 0, 0, 0.8);text-align:center;}
.bmd-overlay h1{color:#fff;font-size:20px;}

/*RATTING*/

.rating {margin-top: 25px;overflow: hidden;display: inline-block;}
.rating-input {position: absolute;left: 0;top: -50px;}
.rating-star {display: block;float: right;width: 16px;height: 16px;background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;}
.rate{margin-top: 6px;}
.rating-star:hover,
.rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {background-position: 0 0;}
.rating input[type="checkbox"], .rating input[type="radio"] {line-height: normal;margin: 4px 0 0;display: none;}

/* written by developer */
.sign_form {
  bottom: 0;
  left: 0;
  top: 0;
  width: 100%;
}
.bmd-spcl-listing a {
  background: transparent none repeat scroll 0 0 !important;
  padding: 0 !important;
}
.bmd-field.error {
  color: #000;
  padding: 0 0 5px 35px;
}

.bmd-frgtpass > i {
  cursor: pointer;
}

button[disabled]{
  background: #cccccc none repeat scroll 0 0;
  cursor: not-allowed;
}
.error_block {
  background: #ffbaba none repeat scroll 0 0;
  border: 2px solid #ffbaba;
  border-radius: 6px;
  color: #d8000c;
  padding: 10px;
  margin-bottom: 5px;
}
.success_block {
  background: #dff0d8 none repeat scroll 0 0;
  border: 2px solid #fff;
  border-radius: 6px;
  color: #468847;
  margin-bottom: 5px;
  padding: 10px;
}
.selected{
	background: #00a2e0;
	color: #fff;
}
.loader_div{
	text-align: center;
}
.ispinner .spinner {
    stroke: #fff;
    fill: #fff;
}
.spinner svg {
  width: 50px;
  height: 50px;
}

.bmd-result-profpic img {
  height: 100%;
  width: 100%;
}
.bmd-result2 .bmd-result-sch{Background:#eeb1c3;color:#343434;text-align:center;border-radius:3px;width: 100%;padding: 4px;margin: 2px;font-size: 12px;}
.bmd-result2 .bmd-result-sch.active{Background:#fff;color:#343434;text-align:center;border-radius:3px;width: 100%;padding: 4px;margin: 2px;font-size: 12px;}
.wi-100{width: 100%;}
.text-center{text-align: center};
.text-left{text-align: left;}
.text-right{text-align: right;}
.apnt-navigation > a {color: #a4a4a4;font-size: 35px;padding: 15px;cursor: not-allowed;}
.apnt-navigation > a.active {color: #fff;font-size: 35px;padding: 15px;cursor: pointer;}
.apnt-navigation {
  text-align: center;
}
.apnt_status {background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;border: 1px solid #fff;border-radius: 10px;
  color: #fff;
  margin: 0 0 10px;
  padding: 10px;
  text-align: center;
}
.bmd_apnt_main {
  margin-top: 5px;
  color: #fff;
}
.bmd-apnt-info {
  display: inline-flex;
  margin: 3px 0;
  width: 100%;
}
.brd-btm-1{
  border-bottom: 1px solid #fff;
}
.brd-rgt-1{
  border-right: 1px solid #fff;
}
.bmd-apnt-info > p {
  padding: 5px;
  text-align: center;
}
.bmd-apnt-info p span.round {
  border: 1px solid;
  border-radius: 50%;
  padding: 5px;
}
.bmd-apnt-info p span.status {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
}
.bmd-spcl-small{color: #ca1f53;}
.bmd-spcl-listing:hover .bmd-spcl-small{color: #fff;}
.page_loader_div {
  position: sticky;
  text-align: center;
  margin-top: 100px;
}
.bmd-bookng-cnfirmation a {
  text-decoration: none;
  display: block;
}
.noMoreItems {
  color: rgb(255, 255, 255);
  font-size: 24px;
  margin-top: 100px;
  text-align: center;
}
.noMoreItems p {
  padding-top: 10px;
}
.no_date_result {
  border-top: 1px solid #fff;
  color: #fff;
  padding-top: 10px;
  text-align: center;
}
.blocked {
  color: #c81e51;
  margin-top: 100px;
  text-align: center;
}
.blocked i {
  font-size: 100px;
}
.blocked p {
  font-size: 20px;
}
.network-offline {
  background: rgba(11, 145, 169, 0.8) none repeat scroll 0 0;
  color: #fff;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  display: none;
}
.network-offline i {
  font-size: 100px;
  margin-top: 100px;
  display: block;
}
.network-offline p {
  font-size: 20px;
}
.bmd-listing .link_select{display: inline-flex;
text-decoration: none;
width: 100%;}
.appointment_loader_div {
  background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 99999;
}
.appointment_loader_div img {
  margin-top: 150px;
}
.backdrop {
    background-color: rgba(255, 255, 255, 0.8) !important;
    }
.loading-container .loading{background-color: rgba(255, 255, 255, 0) !important;}

.main_slide{background: red none repeat scroll 0 0;
color: red;
height: 200px;
width: 100%;}
.slidein-transition {
    -moz-animation: fadein 500ms ease-in;
    -webkit-animation: fadein 500ms ease-in;
    -o-animation: fadein 500ms ease-in;
    animation: fadein 500ms ease-in;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slidein-from-right {
    -moz-animation: slidein-from-right2 500ms;
    -webkit-animation: slidein-from-right2 500ms;
    -o-animation: slidein-from-right2 500ms;
    animation: slidein-from-right2 500ms;
}
@-webkit-keyframes slidein-from-right2 {
    from {
        -webkit-transform:translateX(100%);
    }
    to {
        -webkit-transform:translateX(0%);
    }
}
@-moz-keyframes slidein-from-right2 {
    from {
        -moz-transform:translateX(100%);
    }
    to {
        -moz-transform:translateX(0%);
    }
}
@-o-keyframes slidein-from-right2 {
    from {
        -o-transform:translateX(100%);
    }
    to {
        -o-transform:translateX(0%);
    }
}
@keyframes slidein-from-right2 {
    from {
        transform:translateX(100%);
    }
    to {
        transform:translateX(0%);
    }
}
.slidein-from-left {
    -webkit-animation: slidein-from-left2 500ms;
    -moz-animation: slidein-from-left2 500ms;
    -o-animation: slidein-from-left2 500ms;
    animation: slidein-from-left2 500ms;
}
@-webkit-keyframes slidein-from-left2 {
    from {
        -webkit-transform:translateX(-100%);
    }
    to {
        -webkit-transform:translateX(0%);
    }
}
@-moz-keyframes slidein-from-left2 {
    from {
        -moz-transform:translateX(-100%);
    }
    to {
        -moz-transform:translateX(0%);
    }
}
@-o-keyframes slidein-from-left2 {
    from {
        -o-transform:translateX(-100%);
    }
    to {
        -o-transform:translateX(0%);
    }
}
@keyframes slidein-from-left2 {
    from {
        transform:translateX(-100%);
    }
    to {
        transform:translateX(0%);
    }
}

.bmd-usr-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}
.bmd-usr-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
.bmd-usr-input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
.bmd-usr-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
}
.bmd-usr-input::-ms-input-placeholder { /* Microsoft Edge */
   color:    white;
}

::placeholder { /* Most modern browsers support this now. */
   color:    white;
}